# Игнорировать файлы .env (с переменными окружения)
.env

# Игнорировать логи
*.log

# Игнорировать папку с виртуальным окружением
venv/
env/
.venv/

# Игнорировать кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать папку с IDE (например, PyCharm)
.idea/
.vscode/

# Игнорировать папку с зависимостями
dist/
build/
*.egg-info/

# Игнорировать временные файлы
temp/
tmp/

# Игнорировать файлы базы данных (если используются)
*.db
*.sqlite3